:root {
    --green: #25671E;
    --light-green: #48A11180;
    --yellow: #F2B50B;
    --white: #F7F0F0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--green);
    color: var(--white);
}

nav {
    display: flex;
    justify-content: center;
}

button {
    background-color: var(--green);
    color: var(--white);
    border: 2px solid var(--green);
    font-size: 1.5rem;
    padding: 5px;
    margin: 0 30px;
}
button:hover {
    color: var(--yellow);
    border-bottom: 2px solid var(--yellow);
}
button:active {
    border: 2px solid var(--light-green);
    background-color: var(--light-green);
    color: var(--white);
}

#content {
    flex: 1;
    background: url(./images/chris-liverani-oCsaxvGCehM-unsplash.jpg) center;
    background-size: cover;
}

.text {
    background-color: var(--light-green);
    max-width: 700px;
    margin: 100px auto;
    padding: 50px;
}

h2 {
    font-size: 8rem;
    color: var(--yellow);
}

p {
    font-size: 1.5rem;
    color: var(--white);
    width: 400px;
    padding: 10px;
    margin: auto;
}

.page {
    background-color: var(--white);
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    color: var(--green);
    border: 3px solid var(--green);
    box-shadow: 0 0 20px 10px var(--light-green) ;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

h3 {
    flex: 0;
    font-size: 3rem;
    white-space: nowrap;
    margin: 5px;
}

.line {
    flex: 1;
    background-color: var(--green);
    height: 2px;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

ul {
    flex: 1;
}

li {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    min-width: max-content;
    margin: 10px 0;
}

.image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.credit {
    position: absolute;
    width: 100%;
    bottom: -20px;
}

footer {
    background-color: var(--green);
    color: var(--white);
    padding: 5px;
    font-size: 0.9rem;
}

a {
    color: var(--yellow);
}